:root {
  --color-palette-neutral-50: rgb(255, 255, 255);
  --color-palette-neutral-100: rgb(204, 204, 204);
  --color-palette-neutral-200: rgb(160, 160, 160);
  --color-palette-neutral-300: rgb(115, 115, 115);
  --color-palette-neutral-400: rgb(70, 70, 70);
  --color-palette-neutral-500: rgb(60, 60, 60);
  --color-palette-neutral-600: rgb(51, 51, 51);
  --color-palette-neutral-700: rgb(45, 45, 45);
  --color-palette-neutral-800: rgb(37, 37, 37);
  --color-palette-neutral-900: rgb(30, 30, 30);

  --color-palette-primary-400: rgb(0, 127, 212);
  --color-palette-primary-800: rgb(4, 57, 94);

  --color-text-muted: var(--color-palette-neutral-300);
  --color-text-default: var(--color-palette-neutral-100);
  --color-text-selected: var(--color-palette-neutral-50);
  --color-text-placeholder: var(--color-palette-neutral-300);

  --color-background: var(--color-palette-neutral-700);
  --color-background-light: var(--color-palette-neutral-600);
  --color-background-lighter: var(--color-palette-neutral-500);
  --color-background-dark: var(--color-palette-neutral-800);
  --color-background-darker: var(--color-palette-neutral-900);
  --color-background-selected: var(--color-palette-primary-800);

  --color-border-selected: var(--color-palette-primary-400);

  --image-overlay-hover: linear-gradient(rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03));
  --image-overlay-active: linear-gradient(rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06));
}

html {
  background: var(--color-background-dark);
  color: var(--color-text-default);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
}

/* App theme */

.header {
  background-color: var(--color-background-lighter);
}

.sidebar {
  background-color: var(--color-background-dark);
}

.main {
  background: var(--color-background-darker);
}

.footer {
  background-color: var(--color-background-light);
}

/* Utility classes */

.text-muted {
  color: var(--color-text-muted);
}

/* Components */

input, select, textarea, button {
  background: var(--color-background-lighter);
  color: var(--color-text-default);
}

input:focus, select:focus, textarea:focus, button:focus, .selected {
  outline-color: var(--color-border-selected);
}

button:hover {
  background-image: var(--image-overlay-hover);
}

button:active {
  background-image: var(--image-overlay-active);
}

.selected {
  background: var(--color-background-selected);
  color: var(--color-text-selected);
}